body {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template:
    "areaA areaB" 100px
    "areaA areaC" 200px
    / 330px 1fr;
}

#main {
  height: 200px;
  width: 250px;
  grid-area: areaA;
  justify-self: center;
  align-self: center
}

main > nav {
  grid-area: areaB;
}

main > ul {
  grid-area: areaC;
}

